[submodule "src/thirdparty/pawn"]
	path = src/thirdparty/pawn
	url = https://github.com/JJL772/pawn
[submodule "src/thirdparty/stb"]
	path = src/thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "src/thirdparty/openvr"]
	path = src/thirdparty/openvr
	url = https://github.com/ValveSoftware/openvr
[submodule "src/thirdparty/dxvk-native"]
	path = src/thirdparty/dxvk-native
	url = https://github.com/ChaosInitiative/dxvk-native
[submodule "dxvk-native"]
	url = https://github.com/Joshua-Ashton/dxvk-native
